.outer-circle {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.inner-circle {
  border-radius: 50%;
  width: 70%;
  height: 70%;
  background-color: #F0F0F0;
  margin: 0 auto;
}

.weather-icon {
  margin: 5px;
}
